.secondary-color {
    background-color: chocolate;
}
.navbar-brand{ 
    font-family: 'Yeseva One';
    /* color: black; */
    font-size: 1.75rem;
}

.white-text {
    color: white;
}

.brown-text {
    color: rgb(63, 33, 12);
}
.d-md-inline {
    color: white;

}

.brand-image {
    width: 40%;
}

/* .navbar-dark .navbar-brand{
    color: black;
}
.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link { 
    color: black;
}

.navbar-dark .navbar-nav .nav-link {
    color: black;
} */

