.secondary-color {
    background-color: chocolate;
}
.navbar-brand{ 
    font-family: 'Yeseva One';
    font-size: 1.75rem;
}
a {
    color: black;
}

.white-text {
    color: white;
}

.brown-text {
    color: rgb(63, 33, 12);
}
.d-md-inline {
    color: white;
}

.brand-image {
    width: 40%;
}
.nav-center {
    text-align: center;
}

.d-block {
    margin-top: 30px;
}

.h3-responsive {
    text-shadow: rgba(76, 69, 69, 0.83) 4px 0 10px;
    
}

.row{
    justify-content: center;
}

.col-md-5 {
    margin: 10px 10px 10px 10px;
    padding-top: 40px;
    padding-bottom: 60px;
}

.container {
    margin-bottom: 5rem;
}
